<section class="pricing__container">

  <h2 class="pricing__title">Tarifs</h2>

  <!-- Table visite préalable -->
  <table class="pricing__table ">
    <thead class="princing__table-header">
      <tr>
        <th class="row__width alignl pricing__th">Visite préalable</th>
        <th class="row__width alignr">Prix</th>
      </tr>
      <tr>
        <th colspan="2" class=" alignl">
          Obligatoire lors de votre première visite.
        </th>
      </tr>
    </thead>
    <tbody>
      <% firstVisit.forEach(firstVisit => { %>
        <tr>
          <td class="row__width"><%= firstVisit.durationDisplayed %></td>
          <td class="row__width">
            <div class="pricing__session-price alignr"><%= firstVisit.price %></div>
            <div class="pricing__session-note alignr">Gratuit si suivi d'une séance</div>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>

  <!-- Table séances -->
  <table class="pricing__table sessions-table">
    <thead class="princing__table-header">
      <tr>
        <th class="row__width alignl session__th">Séance</th>
        <th class="row__width alignr">Prix</th>
      </tr>
      <tr>
        <th colspan="2" class="pricing__session-details alignl">
          La "durée totale" comprend : l'installation, la séance selon la durée choisie et les soins post traitement.
        </th>
      </tr>
    </thead>
    <tbody>
      <% sessions.forEach(session => { %>
        <tr>
          <div>
            <td class="row__width alignl">
              <div class="session__label"> Prestation de :</div>
              <div class="session__duration"><%= session.durationDisplayed %></div>
          </td>
          </div>
          
          <td class="row__width">
            <div class="pricing__session-price alignr"><%= session.price %></div>
            <div class="pricing__session-note alignr">Durée totale : <%= session.total %></div>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>

</section>
